/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: #FFFEF8;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
}

/*** Header ***/
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.editionHeader{
	display: none;
	justify-content: center;
	align-items: center;
	background-color: #000;
	width: 100%;
	height: 59px;
	margin: 0px;
}
.editionHeader .fa-pen-to-square{
	margin-right: 10px;
	color: white;
	background-color: black;
}

.editionHeader p{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 30px;
	color: #FFFFFF;
	background-color: #000;
}

.editionHeader button{
	width: 216px;
	height: 38px;
	border-radius: 60px;
	cursor: pointer;
	border: none;
	background: #FFF;
	color: #000;
	font-family: Work Sans;
	font-size: 14px;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	margin: 3% 0% 0% 5%;
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav{
	margin: 3% 5% 0% 0%;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a{
	text-decoration: none;
	color: #000000;
}

li a:hover {
	color: #B1663C;
}

/*** Main ***/
main{
	margin: 10%;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin-left: 0px;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.modal-toggle{
	font-family: Work Sans;
	font-size: 14px;
	border: none;
	background-color: #FFFEF8;
	color: #000;
	cursor: pointer;
}

.projets{
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projets button{
	padding: 0px;
	margin-left: 4%;
}
.modal-toggle .fa-pen-to-square{
	margin-right: 10px;
}
.filtre {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.filtre button {
	height: 40px;
	padding: 10px;
	margin-left: 10px;
	margin-bottom: 40px;
	border-radius: 60px;
	border: 1px solid #1D6154;
	background-color: #FFF;
}

.filtre p {
	color: #1D6154;
	font-family: Syne;
	font-size: 16px;
	text-align: center;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 35%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
	display: flex;
	justify-content: flex-start;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	text-align: center;
	border-radius: 60px ;
	width: 237px;
	height: 36px;
	border: none;
	cursor: pointer;
}

/*** Footer ***/
footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 2em;
	background-color: #FFF;
}

footer nav ul li:hover {
	color: #B1663C;
}
/*** Page modale ***/
.modal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
}

.modal.active {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-wrapper{
	width: 50%;
	padding: 26px 30px 50px;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: absolute;
}
.close-modal{
	padding: 8px 10px;
	border: none;
	background-color: #FFFFFF;
	font-size: 18px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.modal-wrapper h2{
	color: #000;
	background-color: #FFFFFF;
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 10px;
	margin-bottom: 40px;
}
.galleryModal{
	display: grid;
	justify-content: flex-start;
	width: 90%;
	margin: auto;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.galleryModal i{
	cursor: pointer;
	background-color: #000;
	color: white;
	position: absolute;
	padding: 5px;
	border-radius: 5px;
	margin-left: -30px;
	margin-top: 8px;
}
.galleryModal img{
	width: 100%;
	height: 90%;
}

.button{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 38px 0px 0px 0px;
	background-color: #FFFFFF;
}

.button button{
	width: 237px;
	height: 36px;
	margin-bottom: 23px;
}

.add{
	border-radius: 60px;
	background: #1D6154;
	color: #FFF;
	font-family: Syne;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border-style: none;
}

/***Modale 2 ***/
.modal2{
	display: none;
	width: 50%;
	padding: 26px 30px 50px;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: absolute;
}
.modal2 h2{
	color: #000;
	background-color: #FFFFFF;
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 10px;
	margin-bottom: 40px;
}
.modal2 form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0% 15%;
	background-color: #FFFFFF;
}

.arrow-left{
	padding: 8px 10px;
	border: none;
	background-color: #FFFFFF;
	font-size: 20px;
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
}
.add-photo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background-color: #E8F1F7;
	border-radius: 3px;
	gap: 10px;
	margin-bottom: 20px;
}

.fa-image{
	font-size: 80px;
	color: #B9C5CC;
	display: flex;
	justify-content: center;
	background-color: #E8F1F6;
}

.ajouter{
	width: 173px;
	height: 36px;
	border-radius: 50px;
	background: #CBD6DC;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #306685;
	cursor: pointer;
}
#file{
	display: none;
}
.add-photo p{
	background-color: #E8F1F7;
}

.title-modal2 {
	height: 50px;
	margin: 10px 0px 20px;
}
.category-modal2{
	height: 50px;
	margin: 10px 0px 20px;
}

.line{
	width: 100%;
	border: 1px solid #B3B3B3;
}

.valider{
	width: 237px;
	height: 36px;
	border-radius: 60px;
	border: none;
	background: #A7A7A7;
	color: #FFF;
	margin: auto;
	font-family: Syne;
	font-size: 14px;
}
/*** Page login ***/
.login h2{
	display: flex;
	justify-content: center;
}

.login form{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login p{
	display: flex;
	justify-content: center;
}

.erreur{
	color: #D65353;
	margin-bottom: 20px;
}